<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="../../Style/Template/pagination.css">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->

    <link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>
    <div class="pagination">
        <ul>
            <!-- <li class="btn prev"><span><i class="fas fa-angle-left"></i> Prev</span></li>
                    <li class="numb active"><span>1</span></li>
                    <li class="numb"><span>2</span></li>
                    <li class="dots"><span>...</span></li>
                    <li class="numb"><span>4</span></li>
                    <li class="numb"><span>5</span></li>
                    <li class="dots"><span>...</span></li>
                    <li class="numb"><span>7</span></li>
                    <li class="btn next"><span>Next <i class="fas fa-angle-right"></i></span></li> -->
        </ul>
    </div>

    <script src="../../JS/Template/pagination.js"></script>
</body>

</html>