<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carousell</title>
    <link rel="stylesheet" href="../../Style/Template/carousell.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- Swipper CSS -->
    <link rel="stylesheet" href="../../Style/Template/swiper-bundle.min.css">

</head>

<body>
    <div class="content-carousell">
        <div class="slide-container swiper">
            <div class="slide-content">
                
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"> </span>
                            <div class="card-image">
                                <img src="../../Image/logo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Alexsandro</h2>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, autem
                                animi? Esse consectetur nihil eos perspiciatis! Provident ipsum odio sint at! Qui
                                deserunt blanditiis deleniti neque quibusdam. Atque, quod numquam.</p>
                            <button class="button-selengkapnya">Baca Selengkapnya</button>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="swiper-button-next swipper-navBtn"></div>
            <div class="swiper-button-prev swipper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>


    </div>

    <!-- swipper js -->
    <script src="../../JS/Template/carousel/swiper-bundle.min.js"></script>
    <script src="../../JS/Template/carousel/carousel.js"></script>
</body>

</html>