<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EqualizeMe</title>

    <!-- bootstrap -->
    <link href="../../Style/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

        <!-- Wrapper -->
    <link rel="stylesheet" href="../../Style/wrapper.css">
    
    <style>
        * {
            font-family: 'Quicksand', 'Amaranth', cursive, Arial, sans-serif;
        }
        
    </style>

    <link rel="website icon" type="png" href="../../Image/logo.jpg">
</head>

<body>

    <!-- Pencarian -->
    <div class="container-wrapper" style="box-sizing: border-box;">
        <div class="search_wrap search_wrap_2" style="border:0.2px solid grey; border-radius: 3px;">
			<div class="search_box">
				<div class="btn btn_common">
					<i class="fas fa-search"></i>
				</div>
				<input type="text" class="input" placeholder="Pencarian...">
			</div>
		</div>
    </div>

</body>

</html>